[Unit]
Description=Turnkey Example ASP.NET App
After=network.target mariadb.service

[Service]
WorkingDirectory=/var/www/aspnetcore
ExecStart=/usr/bin/dotnet /var/www/aspnetcore/TurnkeyExampleApp.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_CLI_TELEMETRY_OPTOUT=1
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
